name: Deploy to Local

on:
  push:
    branches:
      - main 

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      


      - name: Deploy to Local
        run: cp -r studio4-chatbot-project C:\laragon\www\
          
         

