name: Deploy to Local

on:
  push:
    branches:
      - main 

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Create Target Folder
        run: mkdir -p C:\laragon\www


      - name: Deploy to Local
        run: |
          cp -r $GITHUB_WORKSPACE/* C:\laragon\www

